{% extends 'base.html.twig' %}

{% block title %}Homepage
{% endblock %}

{% block body %}
	<div class="container-fluid">
		<br>
	</div>
	<div class="container mt-5">
		<div class="row">

			<div class="col-sm-12 col-md-6">
				{# Carousel #}
					<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel"> <div class="carousel-indicators">
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
						<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
					</div>
					<div class="carousel-inner">
						{% for image in images %}
							<div class="carousel-item {% if loop.first %}active{% endif %}">
								<img src="{{ image.url }}" class="d-block w-100" alt="...">
							</div>
						{% endfor %}

					</div>
					<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
						<span class="carousel-control-prev-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Previous</span>
					</button>
					<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
						<span class="carousel-control-next-icon" aria-hidden="true"></span>
						<span class="visually-hidden">Next</span>
					</button>
				</div>
			</div>

			<div class="col-sm-12 col-md-6">
				<div>
					<p class="h1 text-uppercase">{{ product.title }}</p>
					<p class="text-secondary text-uppercase">Product category</p>
				</div>
				<div>
					<p class="">€59,99</p>
					<p class="h6">Description</p>
				</div>
				<hr>
				<div>
					<p>{{ product.description }}</p>
					<p class="h6">Options</p>
				</div>
				<hr>
				<form>
					<div class="mb-3">
						<div class="form-floating">
							<select class="form-select selectSize" id="floatingSelect" aria-label="Select a size" required>
								<option hidden value="">{% trans %}Select a size{% endtrans %}</option>
								<option value="s">Small</option>
								<option value="m">Medium</option>
								<option value="l">Large</option>
								<option value="xl">Extra Large</option>
							</select>
							<label for="floatingSelect">{% trans %}Size{% endtrans %}</label>
						</div>
					</div>

					<div class="mb-3">
						<div class="form-floating">
							<select class="form-select selectColor" id="floatingSelect" aria-label="Select a color" required>
								<option hidden value="">{% trans %}Choose a color{% endtrans %}</option>
								<option value="red">Red</option>
								<option value="white">White</option>
								<option value="green">Green</option>
								<option value="yellow">Yellow</option>
							</select>
							<label for="floatingSelect">{% trans %}Color{% endtrans %}</label>
						</div>
					</div>

					<div class="mb-3">
						<div class="form-floating">
							<select class="form-select selectAmount" id="floatingSelect" aria-label="Select an amount">
								<option selected value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
								<option value="9">9</option>
								<option value="10">10</option>
							</select>
							<label for="floatingSelect">{% trans %}Amount{% endtrans %}</label>
						</div>
					</div>
				<button class="btn btn-primary add-btn" {% if not is_granted('ROLE_USER') %}disabled{% endif %} type="submit">
					<div class="spinner-border spinner-border-sm text-light" style="display:none" id="postLoader" role="status">
						<span class="visually-hidden">Loading...</span>
					</div>
					<i class="fa fa-shopping-cart" id="cartIcon"></i> 
					 {% if not is_granted('ROLE_USER') %}
					 {% trans %}Login{% endtrans %}
					 {% else %}
					 {% trans %}Add to cart{% endtrans %}
					 {% endif %}
				</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascript_inline %}
<script>
    $(document).ready(function () {

		// Show notification toasts
		$('.toast').toast('show');

		// Initialize the default values of the selectable values
		let amount = 1;
		let size = null;
		let color = null;
        
		// Listen for click on the "Add to cart" button
		$('.add-btn').click(function() {

			// Validate if all obligatory select fields are set
			if (size != null && color != null) {
				addToCart()
			}
		})

        function addToCart() {
            $.ajax({
                type: "POST",
                url: "{{ path("front_end_add_product_to_cart") }}",
                data: {"product_id": {{ product.id }}, "amount": amount, "size": size, "color": color},
				
				// Initialize loading spinner
				beforeSend: function() {
					$('#postLoader').show();
					$('#cartIcon').hide();
				},

				success: function (response) {
					location.reload()
                },
                error: function (response) {
					
                }
            });
        }

		// Listen for changes in selection of an amount
		$('.selectAmount').on('change', function() {
			amount = this.value;
		});
		
		// Listen for changes in selection of a size
		$('.selectSize').on('change', function() {
			size = this.value;
		});
		
		// Listen for changes in selection of a color
		$('.selectColor').on('change', function() {
			color = this.value;
		});
    })
</script>
{% endblock %}
